* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
.header-landing {
    padding: 0 2%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home {
    margin-right: 20px;
    color: #3498DB;
    font-size: 1.25rem;
}
.contact {
    margin-right: 20px;
    color: #3498DB;
    font-size: 1.25rem;
}

.navLinks {
    /* display: flex; */
    gap: 20px;
}
.signInBtn {
    background-color: #fff;
    color: #3498DB;
    border: 1px solid #3498DB;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    font-size: 1.25rem;
    cursor: pointer;
    font-weight: bold;
    margin-right: 20px;
}
.getBtn {
    background-color: #3498DB;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    font-size: 1.25rem;
    cursor: pointer;
    font-weight: bold;
}
.backImg {
    width: 100%;
}
.content-container {
    position: relative;
}
.content {
    position: absolute;
    top: 13%;
    left: 0%;
    padding: 0 2%;
}
.contentHeader {
    font-size: 6rem;
    font-weight: bold;
    color: #fff;
    /* margin-bottom: 20px; */
}
.contentSmallHeader {
    font-size: 4rem;
    font-weight: 500;
    color: #fff;
    margin-top: 10px;
    /* margin-bottom: 20px; */
}
.contenBodytHeader {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 30px;
}
.heroBtn {
    border-radius: 10px;
    padding: 10px 40px 10px 40px;
    border: none;
    font-size: 1.125rem;
    color: white;
    background: linear-gradient(#4CAF50, #64C1FF);
    /* margin-bottom: 30px; */
}
/* Section 2 */
.next {
    display: flex;
    /* position: relative; */
    padding: 0 2%;
    margin-top: 50px;
}
.lefttext {
    display: flex;
}
.lefttext .txt .txtHeader, .righttext .txt .txtHeader {
    margin-bottom: 10px;
}
.lefttext .txt, .righttext .txt {
    left: 39%;
    position: relative;
    top: -130px;
    width: 50%; 
}
.recent {
    position: relative;
    display: flex;  
}
.mainLeft {
    margin-left: 4%;
    margin-bottom: 30px;
}
.recent .recentLeftHeader {
    color: #27AE60;
    font-size: 1.5rem;
    margin-bottom: 70px;
    margin-left: 4%;
    margin-top: 10px;
}

.recentLeft .mainLeft .text .newsHeader  {
    font-size: 1.6875rem;
    margin-bottom: 10px;
}
.recentLeft .mainLeft .text {
    position: relative;
    left: 40%;
    color: black;
    width: 55%;
    top: -210px;
}
.recentLeft {
    width: 70%;
    background-color: #3498db5f;   
    border-radius: 0px 10px 10px 0px;
    margin-bottom: 90px;
}
.details {
    display: flex;
}
.userName{
    margin-left: 6px;
}
.details .datePosted {
   top: 2px; 
   left: 3px;
   position: relative;
}
.seemore {
    color: black;
    position: relative;
    left: 50%;
    top: -12px;
    font-size: 20px;
}
.eachBlog {
    position: relative;
    width: 99%;
    height: 250px;
    border-bottom: 1px solid black;
    border-radius: 0px 0px 10px 10px ;
}
.newsBody {
    margin-top: 10px;
}
.recentRight {
    margin-left: 50px;
    /* width: 420px; */
    width: 30%;
}
.recentRight .recentRightHeader {
    margin-bottom: 20px;
}
.topic {
    display: flex;
    width: 90%;
    position: relative;
    left: -3%;
    flex-wrap: wrap;
}
.recentRightTopic5 {
    margin-bottom: 10px;
}
.topic .recentRightTopic:hover {
    transition: 1s;
    background-color: white;
    color: #3498DB;
    border: 1px solid #4CAF50;
    cursor: pointer;
}
.topic .recentRightTopic {
    font-size: 16px;
    border-radius: 10px;
    background-color: #45A3E2;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    color: white;
    justify-content: space-between;
    margin-left: 10px;
    white-space: nowrap;
}
.popular {
    margin: 20px 0 5px 0;
}
.eachitem {
   margin-top: -15px;
   margin-left: 50px;
}
.recentRight .pointArrow {
    position: relative;
    top: 15px;
}
/*  */
.lowerFooter {
    background-color: black;
}
.footer {
    background-color: black;
    height: 540px;
    width: 100%;
}
.higherFooter {
    position: relative;
    background: linear-gradient(141.38deg, #64C1FF 31.1%, rgba(39, 174, 95, 0.85) 94.87%);
    height: 275px;
}
.footer .right .righSubImg {
    float: right;
    position: relative;
    top: -191px;
}
.middle {
    position: relative;
    left: 27%;
    width: 32%;
}
.middle .middleSub {
    font-size: 29px;
    color: #3498DB;
    white-space: nowrap;
}
.middle .middleSub, .middle .middleBody {
    position: relative;
    top: -20px;
}
.middle .middleBody {
    line-height: 22px;
    position: relative;
    top: 1px;
}
.emailSub {
    border: none;
    width: 60%;
    height: 39px;
    position: relative;
    top: 20px;
    border-radius: 8px 0px 0px 8px;
    padding-left: 5px;
}
.emailSub:focus {
    outline: none;
}
.submitSub {
    border: none;
    cursor: pointer;
    width: 20%;
    height: 39px;
    border-radius: 0px 8px 8px 0px;
    float: right;
    position: relative;
    left: -90px;
    color: white;
    background-color: #3498DB;
    top: 20px;
}
.logo1 {
    position:relative ;
    top: 30px;
    left: 3%;
}
.lowerFooter .lowerFooterHeader {
    color: white;
    font-size: 32px;
    margin-left: 3%;
    position: relative;
    top: 20px;
    color: #64C1FF ;
}
.lowerFooter {
    display: flex;
    background-color: black;
    justify-content: space-between;
}
.about .aboutLink, .work .aboutLink, .about .aboutBold, .work .aboutBold {
    display: block;
    line-height: 30px;
    position: relative;
    top: 20px;
    text-decoration: none;
    color: white;
}
.about .aboutLink:hover, .work .aboutLink:hover {
    transition: 1s;
    position: relative;
    left: 2px;
    color: #3498DB;
}
.FollowUs{
    color: #fff;
    margin-left: 110px;
}
.follow {
    background: #000;
}
.social {
    position: relative;
    left: 30%;
    top: 40px;
}
.arrowUp {
    /* position: static; */
    position: relative;
    bottom: -100px;
    right: -150px;

}
.copy {
    color: white;
    margin-left: 3%;
    position: relative;
    top: 12%;
    font-weight: bold;
}